.footer {
  background-color: #414141;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  display:flex;
  flex-direction: row;
  font-size: 1rem;
  padding: 3.125rem;
  margin-top: 4rem;
}
.footer .footer-left {
  width: 33%;
  padding: 0.3rem;
  margin:1rem;
  align-items: center;
}
.footer .About {
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  align-items: center;
}
.footer .footer_icons {
  display:flex;
  align-items: center;
  margin:auto 1rem;
  flex-direction: row;
 
}
.footer .footer_icons a {
  width: 2.18rem;
  height: 2.18rem;
  margin:0.5rem;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 1.25rem;
  color: #ffffff;
  line-height: 2rem;
}
.footer .footer-center {
  width: 30%;
  align-items:center;
  padding: 0.3rem;
  margin:1rem;
}
.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  margin:1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  vertical-align: middle;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  padding-left:1rem;
}
.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}
.footer .footer-right {
  width: 35%;
  padding: 0.3rem;
  margin:1rem;
}
.footer h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: normal;
}

.footer h2 span {
  color: #0099ff;
}
.footer .menu {
  color: #ffffff;
 
}
.footer .menu a {
  display:inline-block;
  margin-top:1rem;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer .tag {
  color: #0099ff;
  font-size: 1rem;
  font-weight: normal;
}

/* /----------------------media query----------------------------/ */
@media screen and (max-width:1000px){
  .footer{
    flex-direction:column;
    align-items: center;

  }
  .footer .footer-center{
    width:90%;
    flex-direction:column;
    padding-left:2rem;
  }
  .footer .About {
   display:inline-block;
  }
  .footer .footer_icons {
    width:50%;
  }
  .footer .font_icons a{
    width: 2rem;
  height: 2rem;
  font-size:1rem;
  }
  .footer .footer-left span{
    display:inline-block;
  }
  
  .footer .footer-left {
    width:90%;
    margin:2rem;
  }
  .footer .footer-right {
   margin:1rem;
   width:90%;
   flex-direction:column;
  }
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
}