.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 3.125rem;
  margin-top: 3.15rem;
}
.footer .footer-left {
  width: 33%;
  padding: 0rem 0.3rem 0.3rem 0.3rem;
  display: inline-block;
}
.footer .About {
  line-height: 1.25;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: normal;
  margin: 0;
}
.footer .footer-left span{
  padding:0.2rem 0;
}
.footer .footer_icons {
  margin-top: 1.56rem;
}
.footer .footer_icons a {
  display: inline-block;
  width: 2.18rem;
  height: 2.18rem;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.footer .footer-center {
  width: 30%;
  display: inline-block;
  padding: 0rem 0.3rem 0.3rem 0.3rem;
  top: -0.2rem;
}
.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  margin: 0.62rem 0.93rem;
  vertical-align: middle;
}
div {
  display: block;
}
.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 0.92rem;
  line-height: 2;
}
.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}
.footer .footer-right {
  width: 35%;
  padding: 0rem 0.3rem 0.3rem 0.3rem;
  /* top: -7rem; */
  display: inline-block;
}
.footer h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}
.footer .menu {
  color: #ffffff;
  margin: 1.25rem 0 1rem;
  padding: 0;
}
.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer .tag {
  color: #0099ff;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

/*----------------------media query----------------------------*/
@media screen and (max-width:1200px){
  .footer .footer-center{
    width:50%;
    padding-left:2rem;
  }
  .footer .About {
   display:inline-block;
  }
  .footer .footer-left span{
    display:inline-block;
  }
  
  .footer .footer-left {
    width:50%;
    margin:2rem;
  }
  .footer .footer-right {
   margin:1rem;
    display: block;
  }
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
}