.eventCard {
  display: flex;
  margin: 0.6rem 0.813rem;
  flex-wrap: wrap;
  margin-bottom: 2.06rem;
}
.listHeaders h3 {
  font-size: 100%;
}

.listHeaders {
  
  margin: 1rem 1rem;
}
.listheaders-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.listheaders-head h3 {
  font-size: 150%;
}
.event-img-dist {
  margin: 0rem 1.8rem 1rem 0rem;;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
/* Media Query */

@media screen and (max-width:500px) {
  .event-img-dist {
    margin: auto;
    padding-bottom: 1rem;
  }
}
.Title_style {
  font-size: 1.5rem;
  background: -webkit-linear-gradient( 
    39deg
     , #FF0000, #00FF00 80%);
    background-clip: text;
-webkit-text-fill-color: transparent;

}
.event-heading {
  background: -webkit-linear-gradient( 
90deg
 , red, yellow 119%);
background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 900;
}
