.main-head {
  height: 300px;
  /* margin-top: 0.5rem; */
  background:url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-spring-sports-event-poster-background-material-image_138484.jpg") no-repeat center/cover;
  
}
.head-name {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0.7rem auto 0rem auto;
  align-items: center;
}
.headtitle {
  /* font-family: Cursive, serif; */
    font-size: 2rem;
    font-weight: 900;
    color:rgb(7, 45, 72);
    /* box-shadow: 1px 4px 7px rgb(0, 0, 0); */
    text-shadow:1px 3px white;
}
.head-name a i {
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
}
.full-header {
  margin: -5rem auto 3rem auto;
  box-shadow: 3px 14px 40px 12px #f86c6c;
  width: 80%;
  background: url("https://static-cse.canva.com/blob/142648/Swirling-Stars-and-Space-Video-Zoom-Virtual-Background.jpg") no-repeat center/cover; 
  border-radius: 20px;
  
}

                    /* Media Query */

@media screen and (max-width: 600px) {
  .head-name {
    margin-top: 1.8rem;
  }
}
