.slide-image {
  width: 95%;
  padding:2rem;
  margin:auto;
  padding-top:0rem;
  
}
.slide-image img{
  margin:auto;
  padding:auto;
  width:95rem;
  height:30rem;
  
}

.live-tv{
color:red;
font-size:100%;
border-radius:25%;
padding:0.5rem 1rem;
float:right;
}
.banner-cover{
width:90%;
margin:auto;

}
@media screen and (max-width:1000px){
.slide-image{
  width:100%;
}
.slide-image img{
  width: 100%;
  height:15rem;
}
}